<style>
  .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url('./assets/img/blog/17.jpeg');
  }

  .cover {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(117, 54, 230, .1);
  }

  .login-content {
      max-width: 400px;
      margin: 100px auto 50px;
  }

  .auth-head-icon {
      position: relative;
      height: 60px;
      width: 60px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      background-color: #fff;
      color: #5c6bc0;
      box-shadow: 0 5px 20px #d6dee4;
      border-radius: 50%;
      transform: translateY(-50%);
      z-index: 2;
  }
</style>

<div class="overlay"></div>
<div class="cover"></div>
<div class="ibox login-content">
  <div class="text-center">
      <span class="auth-head-icon"><i class="la la-user"></i></span>
  </div>
  <form class="ibox-body" id="login-form" action="javascript:;" method="POST">
      <h4 class="font-strong text-center mb-4">Request Newrole</h4>
      <div class="form-group mb-4">
          <select class="form-control form-control-line" id="login-select">
              <option value="0">I am</option>
              <option value="1">A Admin</option>
              <option value="2">A Trainer</option>
              <option value="3">A Mentor</option>
              <option vlaue="4">A Entity</option>
              <option vlaue="5">A Seeker</option>
          
          </select>
      </div>
     
     
      <div class="text-center mb-4">
          <button class="btn btn-primary btn-rounded btn-block"   routerLink="/switch-role" id="">Request Now</button>
      </div>
    
   
  </form>
</div>
