<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-5">Course Service</h5>
            <div class="row">
               
                <div class="col-lg-12">
                    <form action="javascript:;">
                       
                        <div class="row">
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group">
                                    <label>Service Role</label>
                                    <input class="form-control " placeholder="Course Title" type="text">
                                  </div>
                            </div>
                   
                        </div>
                        <div class="row">
                            <div class="col-sm-8 form-group mb-4">
                                <div class="form-group">
                                    <label>Service Description</label>
                                    <textarea class="form-control " placeholder="Description" rows="4"></textarea>
                                  </div>
                            </div>
                        </div>
                        <div class="text-right  mb-4">
                               
                           
                                 
                            <button class="btn btn-primary btn-air mr-2 submit-btn">Submit </button>
                          
                           
                        </div>
                  
               
               
                    </form>
                </div>
            </div>
            <div class="table-responsive ">
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Sl.no</th>
                            <th width="300">Service Name</th>
                            <th width='400'>Service Description</th>
                           
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                0001
                            </td>
                            <td>
                              It Softwares
                            </td>
                            <td>
                             Image processing details
                            </td>
                         
                            <td>
                                <ul class="action-items">
                                  <li><a class=" action-btn edit" href="">Edit</a> </li>
                                  <li><a class="action-btn delete" href="">Delete</a> </li>
                                  <li><a class="action-btn active" href="">Active</a> </li>
                                  <li><a class="action-btn inactive" href="">Inactive</a> </li>
                                </ul>
                            </td>
                            
                        </tr>
                     
                    </tbody>
                </table>
            </div>
         
        </div>
    </div>
    
  </div>
  