
<div class="page-content fade-in-up">
  <!-- <div class="ibox-title left-heading">Take A Course <a class="toolbar-icon" href="javascript:;"></a></div> -->
<div class="row mb-4">
    <div class="col-lg-4 col-md-6">
        <div class=" mb-4">
            <div class="form-group mb-4">
                <label>Competency</label>
                <select class="form-control">
                    <option value="">Image Management</option>
                    <option value="">Leadership Coaching</option>
                    <option value="">........</option>
                </select>
              </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class=" mb-4">
            <div class="form-group mb-4">
                <label>Course Type</label>
                <select class="form-control">
                    <option value="">Image Management - First impressions</option>
                    <option value="">Leadership Coaching - Beginners Guide</option>
                    <option value="">.....</option>
                </select>
              </div>
        </div>
    </div>
 
</div>

<div class="row mb-4">
    <div class="col-md-6">
        <div class="ibox ibox-fullheight">
            <div class="ibox-head">
                <div class="ibox-title">Image Management - First impressions</div>
            </div>
            <form class="form-info" action="javascript:;">
                <div class="ibox-body">
                    <div class="row ">
                        <div class="col-sm-4 form-group mb-4">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="">
                            </a>
                        </div>
                        <div class="col-sm-8 form-group mb-4 course-section">
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Course Duration :</div>
                                <div class="col-6">5.02</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Course Price :</div>
                                <div class="col-6"><i class="ti-money"></i>4500</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Created By :</div>
                                <div class="col-6">Sonia Dubey Dewan</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="course-heading">About Course :</div>
                        <p>What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan.</p>
                    </div>
                  </div>
                    
                </div>
                <div class="ibox-footer">
                  
                    <button class="btn btn-secondary details-btn" (click)="onDetailsClick()" type="reset" routerLink="/seeker/course-details">Details</button>
                    <button class="btn btn-info mr-2 submit-btn" type="button">Buy Now</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="ibox ibox-fullheight">
            <div class="ibox-head">
                <div class="ibox-title">Leadership Coaching - Beginners Guide</div>
            </div>
            <form class="form-info" action="javascript:;">
                <div class="ibox-body">
                    <div class="row ">
                        <div class="col-sm-4 form-group mb-4">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="">
                            </a>
                        </div>
                        <div class="col-sm-8 form-group mb-4 course-section">
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Course Duration :</div>
                                <div class="col-6">6.02</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Course Price :</div>
                                <div class="col-6"><i class="ti-money"></i>7500</div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-6 course-heading">Created By :</div>
                                <div class="col-6">Sanjay Koul</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="course-heading">About Course :</div>
                        <p>What does leaderhip means and what are essential qualities of true leader. Leaderhip style, traces and path to create more leaders. Learn John Maxwell style of Leadership. Your chance to go from good to great.</p>
                    </div>
                  </div>
                    
                </div>
                <div class="ibox-footer">
                  
                    <button class="btn btn-secondary details-btn" (click)="onDetailsClick()" type="reset">Details</button>
                    <button class="btn btn-info mr-2 submit-btn" type="button">Buy Now</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row mb-4">
    <div class="col-md-12">
        <div class="ibox ibox-fullheight">
            <div class="ibox-head">
                <div class="ibox-title">Recommended Course</div>
            </div>
          
                <div class="ibox-body">
                    <div class="row ">
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Leadership- Coaching-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                        </div>
                        <div class="col-sm-2 form-group ">
                            <a class="media-img" href="javascript:;">
                                <img class="" src="./assets/img/course/Image-Management-course.jpg" alt="image" width="">
                            </a>
                            <div class="ibox-head">
                                <div class="ibox-title">Course Title</div>
                            </div>
                            
                        </div>
                    
                    </div>
                    
                   
                    
                </div>
               
            
        </div>
    </div>
</div>

</div>


