<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-5">Users List</h5>
            <div class="row">

                <div class="col-lg-12">
                    <form action="javascript:;">

                        <div class="row">
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group">
                                    <label>Select Role</label>
                                    <select class="form-control">
                                        <option value="">Role</option>
                                        <option *ngFor="let type of userTypesList" value="{{type.tId}}"> {{ type.typeName }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4 ">
                                <div class="form-group ">
                                    <label>Select Service</label>
                                    <select class="form-control">
                                        <option value="">Image Management</option>
                                        <option value="">Leadership Coaching</option>
                                        <option value="">.......</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group ">
                                    <label>Select Competency</label>
                                    <select class="form-control">
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group mb-4">
                                    <label>Select Course </label>
                                    <select class="form-control">
                                        <option value="">Image Management - First impressions</option>
                                        <option value="">Leadership Coaching - Beginners Guide</option>
                                        <option value="">......</option>
                                    </select>
                                </div>
                            </div>
                        </div>





                    </form>
                </div>
            </div>
            <div class="table-responsive row">
                <div class="alert alert-success" *ngIf="successMsg">
                    {{successMsg}}
                </div>
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>User Id</th>
                            <th>Name</th>
                            <th width="140">Email Id</th>
                            <th width="140">Role</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of userList">
                            <td>
                                {{ user.uId }}
                            </td>
                            <td>
                                {{ user.name }}
                            </td>
                            <td>
                                {{ user.emailid }}
                            </td>
                            <td>
                                {{ user.typeName }}
                            </td>
                            <td>
                                <ul class="action-items">
                                    <li>
                                        <a class=" action-btn edit" href="">Edit</a>
                                    </li>
                                    <li>
                                        <a class="action-btn delete" (click)="deleteUser(user)">Delete</a>
                                    </li>
                                    <li>
                                        <a class="action-btn active" href="">Active</a>
                                    </li>
                                    <li>
                                        <a class="action-btn inactive" href="">Inactive</a>
                                    </li>
                                </ul>
                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>