<div class="overlay"></div>
<div class="cover"></div>
<div class="ibox login-content">
    <div class="text-center">
        <span class="auth-head-icon"><i class="la la-key"></i></span>
    </div>
    <form class="ibox-body pt-0"  id="forgot-form" [formGroup]="forgotForm" (ngSubmit)="onSubmit()" action="javascript:;" method="POST">
        <h4 class="font-strong text-center mb-4">FORGOT PASSWORD</h4>
        <p class="mb-4">Enter your email address below and we'll send you password reset instructions.</p>
        <div class="form-group mb-4">
            <input class="form-control form-control-line" type="text" formControlName="email" name="email" placeholder="Email">
        </div>
        <div class="text-center">
            <button class="btn btn-primary btn-rounded btn-block btn-air">SUBMIT</button>
        </div>
    </form>
</div>

<style>
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./assets/img/blog/17.jpeg');
    }
    .cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(117, 54, 230, .1);
    }

    .login-content {
        max-width: 400px;
        margin: 100px auto 50px;
    }

    .auth-head-icon {
        position: relative;
        height: 60px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #fff;
        color: #5c6bc0;
        box-shadow: 0 5px 20px #d6dee4;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
    body.empty-layout .theme-config, body.empty-layout .to-top{
        display: none !important;
    }
</style>
