<style>
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('./assets/img/blog/17.jpeg');
    }

    .cover {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(117, 54, 230, .1);
    }

    .login-content {
        max-width: 400px;
        margin: 100px auto 50px;
    }

    .auth-head-icon {
        position: relative;
        height: 60px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        background-color: #fff;
        color: #5c6bc0;
        box-shadow: 0 5px 20px #d6dee4;
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
</style>

<div class="overlay"></div>
<div class="cover"></div>
<div class="ibox login-content">
    <div class="text-center">
        <span class="auth-head-icon">
            <i class="la la-user"></i>
        </span>
    </div>
    <div *ngIf="errors">
        <div class="alert alert-danger">
            {{ errors }}
        </div>
    </div>
 
    <div *ngIf="result">
        <div class="alert alert-success">
            <strong>Success!</strong> {{result.msg}}
        </div>
        <div class="row text-center">
            <a href="" routerLink="/login" class="btn btn-primary btn-rounded btn-block">Login</a>
        </div>
    </div>
    <div *ngIf="!result">
        <form class="ibox-body form-group" [formGroup]="signUpForm" (ngSubmit)="submitForm()">
            <h4 class="font-strong text-center mb-5">Register</h4>
            <div class="form-group mb-4">

                <input class="form-control form-control-line" type="text" formControlName="name" name="name" placeholder="Name">
                <div *ngIf="(name.invalid && name.touched)" class="text-danger">
                    Name needs to be more than 2 characters
                </div>
            </div>
            <div class="form-group mb-4">
                <select class="form-control form-control-line" formControlName="userType">
                    <option value="">I am</option>
                    <option *ngFor="let type of userTypesList" value="{{type.tId}}"> {{ type.typeName }}</option>
                </select>
                <div *ngIf="(userType.invalid && userType.touched)" class="text-danger">
                    User Role is required
                </div>
            </div>
            <div class="form-group mb-4">
                <input class="form-control form-control-line" type="text" formControlName="emailid" name="emailid" placeholder="Email">
                <div *ngIf="email.invalid && email.touched" class="text-danger">
                    <div *ngIf="email.errors?.required">
                        Email field can't be blank
                    </div>

                    <div *ngIf="email.errors?.pattern">
                        The email id doesn't seem right
                    </div>

                </div>
            </div>
            <div class="form-group mb-4">
                <input class="form-control form-control-line" type="password" formControlName="userpass" name="userpass" id="cpass" placeholder="Password">
                <div *ngIf="(password.invalid && password.touched)" class="text-danger">
                    Password needs to be more than 8 characters
                </div>


            </div>
            <div class="form-group mb-4">
                <input class="form-control form-control-line" type="password" (keyup)="comparePassword()" formControlName="conPassword"
                    name="conPassword" id="cnpass" placeholder="Confirm Password">
                <div *ngIf="(cnPassword.invalid && cnPassword.touched)" class="text-danger">
                    Password needs to be more than 8 characters
                </div>

                <div *ngIf="confirmPasswordError" class="text-danger">
                        Password not matched
                </div>
            </div>

            <div class="text-center mb-4">
                <button class="btn btn-primary btn-rounded btn-block" id="regBtn" [disabled]="!signUpForm.valid" type="submit">Register</button>
            </div>
            <div class="flexbox mb-5 ">
                <a class="text-primary" routerLink="/login">Login</a>
            </div>

        </form>
    </div>
</div>