<div class="page-content fade-in-up">   
        <!-- <div class="row mb-4">
                <div class="col-lg-12">
                    <div class="row"  style="background: #fff;">
                            <div class="col-lg-2 text-center">
                                    <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                    <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                    <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                                <div class="col-lg-2 text-center">
                                        <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                        <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                                <div class="col-lg-2 text-center">
                                        <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                        <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                    <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                                <div class="col-lg-2 text-center">
                                    <h3 class="font-strong text-success"><i class="la la-chrome mr-3 font-40"></i></h3>
                                    <div class="text-muted">NEW CUSTOMERS</div>
                                </div>
                    </div>
                   
                    
                </div>
        </div> -->
        <div class="row mb-4">
                <div class="col-lg-12 col-md-12">
                    <div class="card mb-4">
                        <!-- <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
                                <span class="easypie-data text-success" style="font-size:32px;"><i class="la la-users"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-success">128</h3>
                                <div class="text-muted">Total Seekers</div>
                            </div>
                        </div> -->
                        <!-- <h3 class="m-0 textcenter">Quick Links</h3> -->
                        <div class="ibox-title heading-tag">Quick Links <a class="toolbar-icon" href="javascript:;"><i class="ti-bell rel"><span class="notify-signal"></span></i></a></div>
                        <div class="row p20">
                                <div class="col-lg-2 text-center">
                                        <a href="#" class="font-strong "><i class="la la-chrome link-icon font-40"></i></a>
                                        <div class="text-muted">Pending Approvals</div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <a href="#" class="font-strong "><i class="la la-chrome  link-icon font-40"></i></a>
                                        <div class="text-muted">Analytics </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                            <a href="#" class="font-strong "><i class="la la-chrome link-icon font-40"></i></a>
                                            <div class="text-muted">Manage Packages </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                            <a href="#" class="font-strong "><i class="la la-chrome link-icon font-40"></i></a>
                                            <div class="text-muted">Course Library </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <a href="#" class="font-strong "><i class="la la-chrome link-icon  font-40"></i></a>
                                        <div class="text-muted">Reports </div>
                                    </div>
                                    <div class="col-lg-2 text-center">
                                        <a href="#" class="font-strong "><i class="la la-chrome link-icon font-40"></i></a>
                                        <div class="text-muted">Task</div>
                                    </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="row mb-4">
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80" data-line-width="8">
                            <span class="easypie-data text-success" style="font-size:32px;"><i class="la la-users"></i></span>
                        </div>
                        <div>
                            <h3 class="font-strong text-success">128</h3>
                            <div class="text-muted">Total Seekers</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                            <span class="easypie-data font-26 text-primary"><i class="ti-world"></i></span>
                        </div>
                        <div>
                            <h3 class="font-strong text-primary">6400</h3>
                            <div class="text-muted">Total Coaches</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card mb-4">
                    <div class="card-body flexbox-b">
                        <div class="easypie mr-4" data-percent="70" data-bar-color="#ff4081" data-size="80" data-line-width="8">
                            <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-tags"></i></span>
                        </div>
                        <div>
                            <h3 class="font-strong text-pink">210</h3>
                            <div class="text-muted">Total Mentors</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="70" data-bar-color="#5c6bc0" data-size="80" data-line-width="8">
                                <span class="easypie-data text-pink" style="font-size:32px;"><i class="la la-tags"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-pink">210</h3>
                                <div class="text-muted">Total Trainers</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="ibox">
                    <div class="ibox-body">
                        <div class="d-flex justify-content-between mb-4">
                            <div>
                                <h3 class="m-0">Analytics Graph</h3>
                                <!-- <div>Your site visitors analytics</div> -->
                            </div>
                            <ul class="nav nav-pills nav-pills-rounded nav-pills-air" id="chart_tabs">
                                <li class="nav-item ml-1">
                                    <a class="nav-link active" data-toggle="tab" data-id="1" href="javascript:;">This Week</a>
                                </li>
                                <li class="nav-item ml-1">
                                    <a class="nav-link" data-toggle="tab" data-id="2" href="javascript:;">Last Week</a>
                                </li>
                                <li class="nav-item ml-1">
                                    <a class="nav-link" data-toggle="tab" data-id="3" href="javascript:;">Last Year</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                            <canvas id="visitors_chart" style="height:300px;"></canvas>
                        </div>
                    </div>
              
                </div>
            </div>
            <div class="col-lg-4">
                    <div class="ibox ibox-fullheight">
                            <div class="ibox-head">
                                <div class="ibox-title">Notifications <a class="toolbar-icon"  href="javascript:;"><i class="ti-bell rel"><span class="notify-signal"></span></i></a></div>
                                <!-- <div class="ibox-tools">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"><i class="ti-pencil"></i>Create</a>
                                        <a class="dropdown-item"><i class="ti-pencil-alt"></i>Edit</a>
                                        <a class="dropdown-item"><i class="ti-close"></i>Remove</a>
                                    </div>
                                </div> -->
                            </div>
                            <div class="ibox-body">
                                <ul class="timeline scroller" data-height="300px">
                                    <li class="timeline-item">
                                        <span class="timeline-point"></span>2 Issue fixed<small class="float-right text-muted ml-2 nowrap">Just now</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-warning"></span>
                                        <span>7 new feedback
                                            <span class="badge badge-warning badge-pill ml-2">important</span>
                                        </span><small class="float-right text-muted">5 mins</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-primary"></span>
                                        <span class="flexbox">25 new orders sent<i class="la la-truck font-16 ml-2 text-primary"></i></span><small class="float-right text-muted ml-2 nowrap">24 mins</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point"></span>12 New orders<small class="float-right text-muted ml-2 nowrap">45 mins</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-warning"></span>18 new users registered<small class="float-right text-muted ml-2 nowrap">1 hrs</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point"></span>
                                        <span>Server Error
                                            <span class="badge badge-success badge-pill ml-2">resolved</span>
                                        </span><small class="float-right text-muted">2 hrs</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-primary"></span>
                                        <span>System Warning
                                            <a class="text-primary ml-2">Check</a>
                                        </span><small class="float-right text-muted ml-2 nowrap">12:07</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-warning"></span>The invoice is ready<small class="float-right text-muted ml-2 nowrap">12:30</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-primary"></span>5 New Orders<small class="float-right text-muted ml-2 nowrap">13:45</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point"></span>
                                        <span class="flexbox">Production server up<i class="la la-arrow-circle-up font-18 ml-2 text-success"></i></span><small class="float-right text-muted ml-2 nowrap">1 days ago</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point"></span>Server overloaded 91%<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                                    <li class="timeline-item">
                                        <span class="timeline-point bg-warning"></span>Server error<small class="float-right text-muted ml-2 nowrap">2 days ago</small></li>
                                </ul>
                            </div>
                        </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="ibox ibox-fullheight">
                            <div class="ibox-head">
                                <div class="ibox-title">Total Engagements for day</div>
                                <div class="ibox-tools">
                                    <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-desktop"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item"><i class="ti-pencil mr-2"></i>Create</a>
                                        <a class="dropdown-item"><i class="ti-pencil-alt mr-2"></i>Edit</a>
                                        <a class="dropdown-item"><i class="ti-close mr-2"></i>Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="ibox-body">
                                <div>
                                    <canvas id="screens_chart" style="height:260px;"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="ibox ibox-fullheight">
                            <div class="ibox-head">
                                <div class="ibox-title">Total Courses completed</div>
                            </div>
                            <div class="ibox-body">
                              <canvas id="screens_chart" style="height:260px;"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
            <div class="col-lg-4">
                <div class="ibox ibox-fullheight">
                    <div class="ibox-head">
                        <div class="ibox-title">Total courses in progress</div>
                        <div class="ibox-tools">
                            <a class="dropdown-toggle" data-toggle="dropdown"><i class="ti-user"></i></a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item"><i class="ti-pencil mr-2"></i>Create</a>
                                <a class="dropdown-item"><i class="ti-pencil-alt mr-2"></i>Edit</a>
                                <a class="dropdown-item"><i class="ti-close mr-2"></i>Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="ibox-body">
                        <ul class="media-list media-list-divider mr-2 scroller" data-height="260px">
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u8.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Lynn Weaver</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-outline-secondary btn-rounded">Follow</button>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u6.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Connor Perez</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-primary btn-rounded">Followed</button>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u11.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Tyrone Carroll</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-outline-secondary btn-rounded">Follow</button>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u10.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Stella Obrien</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-outline-secondary btn-rounded">Follow</button>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u2.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Becky Brooks</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-outline-secondary btn-rounded">Follow</button>
                                </div>
                            </li>
                            <li class="media align-items-center">
                                <a class="media-img" href="javascript:;">
                                    <img class="img-circle" src="./assets/img/users/u5.jpg" alt="image" width="54" />
                                </a>
                                <div class="media-body d-flex align-items-center">
                                    <div class="flex-1">
                                        <div class="media-heading">Bob Gonzalez</div><small class="text-muted">Lorem Ipsum is simply dummy</small></div>
                                    <button class="btn btn-sm btn-primary btn-rounded">Followed</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
     
       
    </div>