<div class="page-content fade-in-up">
  <div class="ibox">
      <div class="ibox-body">
          <h5 class="font-strong mb-4">Todays Sessions</h5>
         
          <div class="table-responsive row">
              <table class="table table-bordered table-hover" id="datatable">
                  <thead class="thead-default thead-lg">
                      <tr>
                          <th>Session Name</th>
                          <th>Description</th>
                          <th width="">Duration</th>
                          <th width="">Schedule Date</th>
                          <th width="">Schedule Time</th>
                          <th>Join Session </th>
                         
                          
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>
                              Introduction
                          </td>
                          <td>
                              Sonia Dubey Dewan
                          </td>
                          <td>
                     0.02
                               
                          </td>
                          <td>
                        ........
                          </td>
                          <td>
                          ......
                                     
                                </td>
                          
                          
                          <td>
                            <button class="btn btn-primary mr-2" type="button">Join now</button>
                          </td>
                          
                      </tr>
                   
                      <tr>
                          <td>
                              Image, Your first impression
                          </td>
                          <td>
                              Sonia Dubey Dewan
                          </td>
                          <td>
                      02:30
                               
                          </td>
                          <td>
                      .......
                          </td>
                          <td>
                            .......
                                     
                                </td>
                          
                          
                        <td>
                          <button class="btn btn-primary mr-2" type="button">Join now</button>
                        </td>
                        
                    </tr>
                    <tr>
                        <td>
                            Establish your Image
                        </td>
                        <td>
                            Sonia Dubey Dewan
                        </td>
                        <td>
                    02:30
                             
                        </td>
                        <td>
                  ........
                        </td>
                        <td>
                         ........
                                   
                              </td>
                        
                        
                      <td>
                        <button class="btn btn-primary mr-2" type="button">Join now</button>
                      </td>
                      
                  </tr>
                     
                  </tbody>
              </table>
          </div>
     
      </div>
  </div>
  <div class="ibox">
    <div class="ibox-body">
        <h5 class="font-strong mb-4">Upcoming Sessions</h5>
       
        <div class="table-responsive row">
            <table class="table table-bordered table-hover" id="datatable">
                <thead class="thead-default thead-lg">
                    <tr>
                        <th>Session Name</th>
                        <th>Description</th>
                        <th width="">Duration</th>
                        <th width="">Schedule Date</th>
                        <th width="">Schedule Time</th>
                       
                       
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Introduction
                        </td>
                        <td>
                            Sanjay Koul
                        </td>
                        <td>
                   0.02
                             
                        </td>
                        <td>
                      ........
                        </td>
                        <td>
                        ......
                                   
                              </td>
                        
                        
                    </tr>
                 
                    <tr>
                      <td>
                         Leader in you
                      </td>
                      <td>
                          Sanjay Koul
                      </td>
                      <td>
                  03:30
                           
                      </td>
                      <td>
                  .......
                      </td>
                      <td>
                        .......
                                 
                            </td>
                      
                      
                  </tr>
                  <tr>
                    <td>
                        Adopt True Leadership Traits
                    </td>
                    <td>
                        Sanjay Koul
                    </td>
                    <td>
                03:30
                         
                    </td>
                    <td>
              ........
                    </td>
                    <td>
                     ........
                               
                          </td>
                    
                    
                </tr>
                   
                </tbody>
            </table>
        </div>
   
    </div>
</div>
  
</div>
