<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-body">
            <h5 class="font-strong mb-5">Schedule Sessions</h5>
            <div class="row">
               
                <div class="col-lg-12">
                    <form action="javascript:;">
                       
                        <div class="row">
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group">
                                    <label>Service</label>
                                    <select class="form-control">
                                        <option value="">Coaching</option>
                                        <option value="">Coaching</option>
                                        <option value="">.......</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4 ">
                                <div class="form-group ">
                                    <label>Competency</label>
                                    <select class="form-control">
                                        <option value="">Image Management</option>
                                        <option value="">Leadership Coaching</option>
                                        <option value="">.......</option>
                                    </select>
                                  </div>
                            </div>
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group ">
                                    <label>Course Type</label>
                                    <select class="form-control">
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                        <option value="">Type</option>
                                    </select>
                                  </div>
                            </div>
                           
                            <div class="col-sm-4 form-group mb-4">
                                <div class="form-group mb-4">
                                    <label>Course </label>
                                    <select class="form-control">
                                        <option value="">Image Management - First impressions</option>
                                        <option value="">Leadership Coaching - Beginners Guide</option>
                                        <option value="">......</option>
                                    </select>
                                  </div>
                                </div>
                        </div>
                       
                       
                  
               
               
                    </form>
                </div>
            </div>
            <div class="table-responsive row">
                <table class="table table-bordered table-hover" id="datatable">
                    <thead class="thead-default thead-lg">
                        <tr>
                            <th>Session Name</th>
                            <th>Description</th>
                            <th width="140">Duration</th>
                            <th width="140">Scheduled Date</th>
                            <th>Price</th>
                            <th>Scheduled Time</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-group">
                                <input class="form-control" type="text" placeholder="Introduction">
                                </div>
                            </td>
                            <td>
                                    <div class="form-group">
                                            <textarea class="form-control" rows="1" value="What is Image management and how does it help you. An introduction to Image management by Sonia Dubey Dewan. Your chance to set your image right. Sonia Dubey Dewan"></textarea>
                                    </div>
                            </td>
                            <td>
                             <div class="input-group clockpicker" data-autoclose="true">
                                <input class="form-control" type="text" value="0.02">
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                             </div>
                                 
                                </td>
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input class="form-control" id="daterange_3" type="text">
                                </div></td>
                            <td>
                                    <div class="form-group">
                                            <input class="form-control" type="text" placeholder="$ 0" >
                                            </div>
                            </td>
                            <td>
                                <div class="input-group clockpicker" data-autoclose="true">
                                    <input class="form-control" type="text" value="......">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                 </div>
                            </td>
                            
                        </tr>
                        <tr>
                                <td>
                                    <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Image, Your first impression">
                                    </div>
                                </td>
                                <td>
                                        <div class="form-group">
                                                <textarea class="form-control" rows="1"></textarea>
                                        </div>
                                </td>
                                <td>
                                 <div class="input-group clockpicker" data-autoclose="true">
                                    <input class="form-control" type="text" value="02:30">
                                    <span class="input-group-addon">
                                        <span class="fa fa-clock-o"></span>
                                    </span>
                                 </div>
                                     
                                    </td>
                                <td>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input class="form-control" id="daterange_3" type="text">
                                    </div></td>
                                <td>
                                        <div class="form-group">
                                                <input class="form-control" type="text" placeholder="$ 1000">
                                                </div>
                                </td>
                                <td>
                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input class="form-control" type="text" value="......">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                     </div>
                                </td>
                                
                            </tr>
                            <tr>
                                    <td>
                                        <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Establish your Image">
                                        </div>
                                    </td>
                                    <td>
                                            <div class="form-group">
                                                    <textarea class="form-control" rows="1"></textarea>
                                            </div>
                                    </td>
                                    <td>
                                     <div class="input-group clockpicker" data-autoclose="true">
                                        <input class="form-control" type="text" value="02:30">
                                        <span class="input-group-addon">
                                            <span class="fa fa-clock-o"></span>
                                        </span>
                                     </div>
                                         
                                        </td>
                                    <td>
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input class="form-control" id="daterange_3" type="text">
                                        </div></td>
                                    <td>
                                            <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="$ 1500">
                                                    </div>
                                    </td>
                                    <td>
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input class="form-control" type="text" value=".....">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                         </div>
                                    </td>
                                    
                                </tr>
                                <tr>
                                        <td>
                                            <div class="form-group">
                                            <input class="form-control" type="text" placeholder="......">
                                            </div>
                                        </td>
                                        <td>
                                                <div class="form-group">
                                                        <textarea class="form-control" rows="1"></textarea>
                                                </div>
                                        </td>
                                        <td>
                                         <div class="input-group clockpicker" data-autoclose="true">
                                            <input class="form-control" type="text" value="....">
                                            <span class="input-group-addon">
                                                <span class="fa fa-clock-o"></span>
                                            </span>
                                         </div>
                                             
                                            </td>
                                        <td>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                <input class="form-control" id="daterange_3" type="text">
                                            </div></td>
                                        <td>
                                                <div class="form-group">
                                                        <input class="form-control" type="text" placeholder=".......">
                                                        </div>
                                        </td>
                                        <td>
                                            <div class="input-group clockpicker" data-autoclose="true">
                                                <input class="form-control" type="text" value=".....">
                                                <span class="input-group-addon">
                                                    <span class="fa fa-clock-o"></span>
                                                </span>
                                             </div>
                                        </td>
                                        
                                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-right">
                               
                    
                             
                <button class="btn btn-primary btn-air mr-2 submit-btn">Schedule </button>
              
                <button class="btn btn-secondary ">Clear</button>
            </div>
        </div>
    </div>
    
</div>
