<style>
 
</style>


<div class="ibox login-content">
  
    <div *ngIf="errors">
            <div  *ngIf="errors.validation" class="alert alert-danger">
                {{ errors.validation }}
            </div>
            <div *ngIf="errors.msg"  class="alert alert-danger">
                {{ errors.msg }}
            </div>
        </div>
    <!-- <app-list-errors [errors]="errors"></app-list-errors> -->
    <form class="ibox-body form-group" [formGroup]="" >
        <h4 class="font-strong text-center mb-5">Create User Type/Role</h4>
        <!-- <div class="form-group mb-4">
            <input class="form-control form-control-line" formControlName="email" type="text"  placeholder="Email">
        </div> -->
        <div class="form-group mb-4">
            <label>User Type</label>
            <input class="form-control " placeholder="Course Title" type="text">
        </div>
        <div class="form-group mb-4">
            <label>Description</label>
            <textarea class="form-control " placeholder="Description" rows="4"></textarea>
        </div>
        <div class="form-group mb-4">
            <label>Assign Preferences Of</label>
        <select class="form-control">
            <option value="">Preferences</option>
            <option value="">Preferences</option>
            <option value="">Preferences</option>
        </select>
      </div>
      <div class="text-center">
                               
     
               
          <button class="btn btn-primary btn-air mr-2 submit-btn">create</button>
        
          <button class="btn btn-secondary ">Clear</button>
      </div>
       

    </form>
</div>